nav{
	z-index: 9;
	position:fixed;
	right:20px;
	top: 50%;
    transform: translateY(-50%);
    text-align: right;
    li{
    	padding: 15px 0;
    }
    a{
    	position: relative;
		padding: 15px;
		
    	&:hover p,
    	&:focus p{
    		right:20px;
    		opacity:1;
    	}
	    i.fa{
	    	transform:rotate(45deg);
	    	font-size:2rem;
			transition:all .3s;

	    	&:hover{
	    		transform:rotate(90deg);
			}
	    }
	    p{	
	    	padding-top: 10px;
	    	transition: all .3s;
	    	opacity: 0;
	    	position: absolute;
	    	margin: 0 20px 0 0;
	    	right:0;
	    	top: 0;
	    }
    }
}
