html{
	font-size: 62.5%;
}

body{
	font-size: 1.2rem;
	font-family: $avenir;
}

h2,h4{
	font-family: $righteous;
}
h2{
	opacity: 0.5;
	font-size: 4.8rem;
	position: absolute;
	z-index: 2;
	left: 50%;
    transform: translateX(-50%);
    letter-spacing: 2px;	
}
h3{
	font-size: 2rem;
}
h4{
	font-size: 2rem;
	letter-spacing: 1px;
}

p{
	line-height: 18px;
}

.small{
font-size: .8rem;
color: $almostblack;
}

ul{
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color:$punch;
	transition:all .3s;
	&:hover{
		color:$canary;
	}
}